@import url('https://fonts.cdnfonts.com/css/agency-fb');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
                


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Agency FB';
}

/*To do: convertir en menu hamburguesa*/
@media (max-width: 970px){
    header { 
        display: none;
    }
}



header{
    width: 100%;
    padding: 25px 0;
    box-shadow: 0 0 29px rgba(134, 134, 134,0.25);
    position: fixed;
    top: 0;
    background-color: white;
    font-size: large;
    color: grey;
    font-family: Handlee;
}

.nav-bar{
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    padding: 0 50px;
    width: 100%;
    color: grey;
}

/* to do: add the logo in the top left
.logo{} */

.nav-list{
    list-style: none;
    display: flex;
}

.nav-item a{
    padding: 10px 20px;
    
}
a{
    text-decoration: none;
    display: block;
    color: grey;
}

.nav-item.button{
    border-radius: 100px;
    color: white;
    background-color: #CA1F7B;
    padding: 0 15px;
/*no esta tomando el blanco*/
}

.section {
    display: flex;
    justify-content: center;
    padding: 110px 130px 130px;
    text-align: center;
}

.section-about{
    margin-top: 90px;
    background-color: white;
    justify-content: space-evenly; 
}


.area-presentation{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.about-info{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

h1{
font-weight: 800;
font-size: 80px;
color: grey;
}

.my-name{
    color:#CA1F7B;
    text-shadow: -2px 3px 2px rgba(0,0,0,0.38);
}

.about-description{
    font-size: 20px;
    color: grey;
    text-align: center;
    width: 400px;
}

.about-button{
    border-radius: 100px;
    color: white;
    background-color: #CA1F7B;
    font-size: 20px;
    font-weight:800;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin-top: 15px;
}


.about-img{
    max-width: 500px;
    margin-left: 50px;
}

.section-knowledge{
    background-color: rgb(248, 248, 248);
}

.knowledge-description{
    color: grey;
}


.section.skills-grid{
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
}


h2{
    font-weight: 800;
font-size: 40px;
color: grey;
}

p{
    font-size: 25px;
    text-align: center;
    white-space: pre;
    margin-top: 10px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.skills-grid{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 1.5em;
}

.skill-item{
    display: flex;
    flex-direction: column;
    color: grey;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 200px;
    margin: 10px;
}

.skill-item i{
    font-size: 80px;
}

.item-name{
    font-size: 25px;
    margin-top: 20px;
}


.section-phrase{
    background-color: #CA1F7B;
    color: white;
    padding: 50px
}

.icon-ph{
    width: 150px;
}

.phrase{
    font-size: 40px;
    font-family: Handlee;
}

.projects-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-projects{
    display: block;
    text-align: center;
    align-content: center;
    color: grey;
}

.project{
    width: calc(100% / 3 - (4em * 2));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.75em;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 2em;
}

.projects {
    width: 100%;
    justify-content: center;
}

.project img {
    display: block;
    padding: 5px;
    height: 20rem;
}

.project-name{
    font-size: 25px;
    margin-top: 20px;
}

.section-contact{
    background-color: rgb(248, 248, 248);
    color: grey;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.contact-me-container{
    display: block; 
    
}

.social-container{
    display: flex;
}

